---
const{maps:{title}}=Astro.props;
---
<section class="mb-6 md:mb-o">
    <p class="mb-6 md:mb-0 font-semibold text-green">{title}</p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d47271.239689455375!2d-8.766711394723083!3d42.22614530647913!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd2f621461b2c193%3A0x7b441dad174bd49f!2sVigo%2C%20Pontevedra!5e0!3m2!1ses!2ses!4v1721388602399!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>