---
const {presentation :{title,description}} = Astro.props;
---
<!--
<section class="mb-6">
    <h6 class="mx-auto text-xl mb-4 text-green font-semibold">Contáctenos</h6>
    <p class="indent-8 mb-6 md:mb-0">En Pallares Pereira Abogados, estamos comprometidos a proporcionarle la mejor asistencia legal. No dude en ponerse en contacto con nosotros para cualquier consulta o para programar una cita. Estamos aquí para ayudarle.</p>
</section>-->

<section class="mb-6">
    <h6 class="mx-auto text-xl mb-4 text-green font-semibold">{title}</h6>
    <p class="indent-8 mb-6 md:mb-0">{description}</p>
</section>