---
const {msg:{text1, text2, text3}} = Astro.props;
---
<div class="bg-warning-200 text-center">
    <p class="p-8 md:mb-0 font-medium text-green text-xl text-center">{text1}<b>{text2}</b>{text3}</p>
</div>
