---
import Layout from '../layouts/mainlayout.astro';
---
<Layout title="Page Not Found">
    <main class="flex flex-col justify-center items-center text-center align-middle">
        <img src="/images/error-404.png" alt="Error" width="300" height="400">
        <br>
        <h1><span class="statusCode text-xl">404: </span> <span class="statusMessage text-xl">Not found</span></h1>
        <!--<pre>Path: /otros</pre>-->
        <br>
    </main>
</Layout>