---
import Banner from '../components/banner.astro';
import Layout from '../layouts/mainlayout.astro';
---
<Layout title="Inicio">
    <main>
        <Banner
        url='/images/2.jpg'
        description="description"
        />
        <div class="flex-col justify-around items-center px-12 mx-auto w1/3 md:w1/2">
            <section class="mb-6">
                <h6 class="mx-auto text-xl mb-4 text-green font-medium">
                    Bienvenidos a Pallares Pereira Abogados
                </h6>
                <p class="indent-8 mb-6 md:mb-0">
                    En Pallares Pereira Abogados, nos dedicamos a proporcionar servicios legales de alta calidad con un enfoque centrado en el cliente. Nuestro bufete, con sede en Vigo, se especializa en derecho civil, penal y una amplia gama de otras áreas legales, ofreciendo soluciones efectivas y personalizadas para satisfacer las necesidades específicas de cada cliente.
                </p>
            </section>
            <section class="mb-6">
                <h6 class="mx-auto text-xl mb-4 text-green font-medium">
                    Misión y Visión
                </h6>
                <p class="indent-8 mb-6 md:mb-0">
                    Nuestra misión es brindar asesoría legal y representación de la más alta calidad, defendiendo los derechos e intereses de nuestros clientes con integridad, profesionalismo y dedicación. Nos esforzamos por ser el bufete de elección en Vigo y sus alrededores, reconocido por nuestra capacidad para resolver casos complejos y obtener resultados favorables.
                </p>
            </section>
            <section class="mb-6">
                <h6 class="mx-auto text-xl mb-4 text-green font-medium">
                    Valores y Principios
                </h6>
                <div class="ml-12 mb-6 md:mb-0">
                    <ul class="list-disc mb-6 md:mb-0">
                        <li>
                            <p>
                                Integridad: Actuamos con honestidad y transparencia en todos nuestros procedimientos.
                            </p>
                        </li>
                        <li>
                            <p>
                                Compromiso: Estamos dedicados a ofrecer un servicio legal excepcional, poniendo siempre los intereses de nuestros clientes en primer lugar.
                            </p>
                        </li>
                        <li>
                            <p>
                                Excelencia: Buscamos constantemente mejorar y actualizar nuestros conocimientos para ofrecer las mejores soluciones legales.
                            </p>
                        </li>
                        <li>
                            <p>
                                Empatía: Entendemos las dificultades y preocupaciones de nuestros clientes, ofreciendo apoyo y comprensión en cada paso del proceso legal.
                            </p>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
        <div class="bg-warning-200">
            <p class="indent-8 py-8 md:mb-0 font-medium text-green text-xl">
                Contáctanos hoy mismo para programar una consulta y descubrir cómo podemos ayudarte con tus necesidades legales.
            </p>
        </div>
    </main>
</Layout>