---
import Banner from '../components/banner.astro';
import Layout from '../layouts/mainlayout.astro';
import Contactform from "../components/contactform.astro";
import Presentation from "../components/contatus/presentation.astro";
import Infocontact from "../components/contatus/infocontact.astro";
import Location from "../components/contatus/location.astro";
import RRSS from "../components/contatus/rrss.astro";
import Contacus from "../components/pubmsg/contacus.astro";
---
<Layout title="Contact us">
    <main>
        <Banner
                url='/images/contactus-1.jpg'
                description="description"
        />
        <div class="flex-col justify-around items-center px-12 mx-auto w1/3 md:w1/2">
            <Presentation
                presentation = {{
                    title:'Contáctenos',
                    description: 'En Pallares Pereira Abogados, estamos comprometidos a proporcionarle la mejor asistencia legal. No dude en ponerse en contacto con nosotros para cualquier consulta o para programar una cita. Estamos aquí para ayudarle.',
                }}
            />
            <section class="mb-6">
                <Contactform/>
            </section>
            <Infocontact
                info = {{
                    title:'Información de Contacto',
                    text1:'Dirección:',
                    text2:'Teléfono:',
                    text3:'Correo Electrónico:',
                    text4:'Vigo, Ciudad de Vigo, Galicia, 36201-36393',
                    text5:'',
                    text6:'info@pallaresabogados.com',
                }}
            />
           <Infocontact
                   info = {{
                       title:'Horas de Operación',
                       text1:'Lunes a viernes:',
                       text2:'Sábados:',
                       text3:'Domingos y Festidos:',
                       text4:'9:00 AM - 6:00 PM',
                       text5:'10:00 AM - 2:00 PM',
                       text6:'Cerrado',
                   }}
           />
            <Location
             maps ={{
                 title: 'Mapa y Ubicación',
             }}
            />
           <RRSS
                social= {{
                    title:'Síganos en nuestras redes sociales para mantenerse informado sobre las últimas novedades legales y nuestros servicios:',
                    ig: '@pallaresabogado',
                }}
           />
        </div>
        <br>
        <Contacus
            msg={{
                text1:'Estamos aquí para ofrecerle el apoyo legal que necesita. Contáctenos hoy mismo y descubra cómo',
                text2: 'Pallares Pereira Abogados',
                text3: 'puede ayudarle a resolver sus problemas legales de manera efectiva y profesional.',
            }}
        />
    </main>
</Layout>