---
import Banner from '../components/banner.astro';
import Art from '../components/art.astro';
import Title from '../components/title.astro';
import Subtitle from '../components/subtitle.astro';
import Layout from '../layouts/mainlayout.astro';
import Imground from '../components/imgrounded.astro';
import Testimonials from '../components/testimonials.astro';
import Contactform from "../components/contatus/contactform.astro";
import Numcases from '../components/numcases.astro';
---
<Layout title="Home">
    <main>
        <Banner
            url="/images/1.jpg"
            description="Pallares Abogados"
        />
        <div class="flex flex-col mx-auto md:w-10/12 sm:p-4 md:p-12">
            <Title
                text = "Nosotros"
            />
            <div class="flex-col sm:px-2 sm:py-4 mx-auto w-75 shrink">
                <Imground  url='/images/2.jpg' text="Nosotros" width={1200} height={920} />
                <Art
                        text="En Pallares Pereira Abogados, contamos con un equipo de abogados altamente cualificados y con amplia experiencia en diversas áreas del derecho. Nuestros profesionales están comprometidos con el estudio continuo y la capacitación para asegurar que estamos siempre al día con los últimos desarrollos legales y judiciales."
                />
            </div>
            <Title
                text ="Especialidades"
                />
            <div class="md:flex lg:columns-2 column-1 gap-8 sm:p-4 md:p-12 mx-auto shrink">
                <div class="w-1/2 md:w-full mx-auto text-center text-2xl">
                    <Imground url='/images/3.jpg' text="Penal" width={600} height={400} />
                    <Subtitle
                            text="Derecho Penal"
                    />
                </div>
                <div class="w-1/2 md:w-full mx-auto text-center text-2xl">
                    <Imground url='/images/6.jpg' text="Civil" width={600} height={400} />
                    <Subtitle
                            text="Derecho Civil"
                    />
                </div>
            </div>
            <Title
                text ="Testimonios de Nuestros Clientes"
            />
            <div class="lg:mb-12"></div>
            <Testimonials />
            <div class="py-10"></div>
            <Title
                    text="Más de 1000 clientes han confiado en nosotros para resolver sus casos"
            />
            <div class="flex flex-wrap columns-1 lg:columns-2 gap-8 px-4 py-12 lg:p-12 mx-auto text-center shrink">
                <Numcases
                post = {{
                    title:'+1000',
                    description: 'Casos Satisfactorios',
                }}
                />
               <Numcases post = {{
                    title: '+50k',
                    description: 'Clientes Satisfechos',
                }}
               />
            </div>
        <!--    Formulario de contacto -->
            <Title
                text ="Conáctanos"
                />
            <Contactform/>
        </div>
    </main>
</Layout>
