---
import Banner from '../components/banner.astro';
import Sections from '../components/sections.astro';
import Imag from '../components/imag.astro';
import Title from '../components/title.astro';
import Layout from '../layouts/mainlayout.astro';
---
<Layout title="Inicio">
    <main>
        <Banner/>
        <div>
            <Title
                text = "Especialidades"
            />
            <div class="flex px-4 mx-auto w-full shrink">
                <div class="w-1/2 p-4 basis-1/2">
                    <Imag url="/src/images/3.jpg" text="Nosotros" class="md:w-auto md:h-auto rounded-xl"/>
                    <Sections
                            title="Quienes somos"
                            text="Hola"
                    />
                </div>
                <div class="w-1/2 p-4 basis-1/2">
                    <Imag url="/src/images/3.jpg" text="Nosotros" class="md:w-auto md:h-auto rounded-xl"/>
                    <Sections
                            title="Quienes somos"
                            text="Hola"
                    />
                </div>
            </div>
        </div>

    </main>
</Layout>