---
import Banner from '../components/banner.astro';
//import Sections from '../components/sections.astro';
import Art from '../components/art.astro';
import Imag from '../components/imag.astro';
import Title from '../components/title.astro';
import Layout from '../layouts/mainlayout.astro';
import Imground from '../components/imgrounded.astro';
---
<Layout title="Inicio">
    <main>
        <Banner/>
        <div class="container mx-auto p-12">
            <Title
                text = "Nosotros"
            />
            <div class="flex-col sm:px-2 sm:py-4 mx-auto w-75 shrink">
                    <Imground  url="/src/images/2.jpg" text="Nosotros" />
                    <Art
                            title="Quienes somos"
                            text="En Pallares Pereira Abogados, contamos con un equipo de abogados altamente cualificados y con amplia experiencia en diversas áreas del derecho. Nuestros profesionales están comprometidos con el estudio continuo y la capacitación para asegurar que estamos siempre al día con los últimos desarrollos legales y judiciales."
                    />

            </div>
        </div>

    </main>
</Layout>
