---
import Banner from '../components/banner.astro';
import Sections from '../components/sections.astro';
import Imag from '../components/imag.astro';
import Mainlayout from '../layouts/mainlayout.astro';
---
<Mainlayout title="Inicio">
    <main>
        <Banner/>
        <Sections>
            <Imag url="/src/images/3.jpg"
                  description="Nosotros Pallares Abogados"
            />
                title="Quiénes somos"
                text="En Pallares Abogados, contamos con un equipo de abogados
                    altamente cualificados y con una amplia experiencia en diversas
                    áreas del derecho. Nuestros profesionales están comprometidos con el
                    estudio continuo y la capacitación para asegurar que estamos siempre
                    al día con los últimos desarrollos legales y judiciales."
        </Sections>
    </main>
</Mainlayout>

