---
import Banner from '../components/banner.astro';
import Sections from '../components/sections.astro';
import Imag from "../components/imag.astro";
import Mainlayout from "../layouts/mainlayout.astro";
---
<Mainlayout title="Inicio" url="/" text="Inicio">
    <div class="bg-orange-50">
        <Banner>
            <Imag url="/images/1.jpg" description="Pallares Abogados"/>
            <span>Somos sus abogados de confianza</span>
            <span>¡Contáctenos!</span>
        </Banner>
        <Sections>
            <Imag url="/images/3.jpg"
                  description="Nosotros Pallares Abogados"
                  width="200"
                  height="200"
            />
            <div>
                <h2>title="Quiénes somos"</h2>
                <p>text=""</p>
            </div>
        </Sections>
    </div>
</Mainlayout>

