---
import Banner from "../components/banner.astro";
import Layout from "../layouts/mainlayout.astro";
---

<Layout title="Our Team">
    <main>
        <Banner
                url='/images/9.jpg'
                description="Equipo Legal Pallares Abogados"
        />
        <div class="flex-col justify-around items-center px-12 mx-auto w1/3 md:w1/2">
            <section class="mb-6">
                <h6 class="mx-auto text-xl mb-4 text-green font-medium">
                    Nuestro Equipo
                </h6>
                <p class="indent-8 mb-6 md:mb-0">
                    En Pallares Pereira Abogados, contamos con un equipo de abogados altamente cualificados y con amplia experiencia en diversas áreas del derecho.
                    Nuestros profesionales están comprometidos con el estudio continuo y la capacitación para asegurar que estamos siempre al día con los últimos desarrollos legales y judiciales.
                </p>
            </section>
            <section class="mb-6">
                <h6 class="mx-auto text-xl mb-4 text-green font-medium">
                    Compromiso con Nuestros Clientes
                </h6>
                <p class="indent-8 mb-6 md:mb-0">
                    Sabemos que enfrentarse a desafíos legales puede ser una experiencia estresante y abrumadora.
                    Por eso, en Pallares Pereira Abogados, nos esforzamos por ofrecer un servicio cercano y accesible, manteniendo una comunicación constante y clara con nuestros clientes.
                    Nos comprometemos a:
                </p> <br>
                <div class="ml-12 mb-6 md:mb-0">
                    <ul class="list-disc mb-6 md:mb-0">
                        <li>
                            <p>
                                Escuchar y entender las necesidades y preocupaciones de nuestros clientes.
                            </p>
                        </li>
                        <li>
                            <p>
                                Proporcionar asesoría legal clara y comprensible.
                            </p>
                        </li>
                        <li>
                            <p>
                                Representar a nuestros clientes con pasión y determinación.
                            </p>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="mb-6">
                <h6 class="mx-auto text-xl mb-4 text-green font-medium">
                    Por qué elegirnos
                </h6>
                <p class="indent-8 mb-6 md:mb-0">
                    En Pallares Pereira Abogados, nos diferenciamos por nuestro compromiso con la excelencia y nuestra dedicación a los clientes. Nos esforzamos por ofrecer soluciones legales personalizadas que se adapten a las necesidades específicas de cada caso. Al elegirnos, puede esperar:
                </p>
                <br>
                <ul class="list-inside list-disc ml-8">
                    <li>
                        <p>
                           <b class="text-green">Experiencia y Conocimiento:</b> Nuestro equipo está compuesto por abogados con vasta experiencia y conocimientos especializados en diversas áreas del derecho.
                        </p>
                    </li>
                    <li>
                        <p>
                            <b class="text-green">Enfoque Personalizado:</b> Entendemos que cada caso es único, por lo que ofrecemos un enfoque adaptado a las circunstancias particulares de cada cliente.
                        </p>
                    </li>
                    <li>
                        <p>
                            <b class="text-green">Compromiso con el cliente:</b> Nos comprometemos a mantener una comunicación abierta y transparente, asegurándonos de que nuestros clientes estén informados y comprendan cada paso del proceso legal.
                        </p>
                    </li>
                    <li>
                        <p>
                            <b class="text-green">Resultados Efectivos:</b> Trabajamos diligentemente para obtener los mejores resultados posibles para nuestros clientes, ya sea a través de la negociación, la mediación o la representación en los tribunales.
                        </p>
                    </li>
                </ul>
                <br>
                <p class="indent-8 mb-6 md:mb-0">
                    Elegir a <b class="text-green">Pallares Pereira Abogados</b> significa optar por un bufete que valora la relación con sus clientes y se dedica a obtener los mejores resultados posibles.
                </p>
            </section>
        </div>
        <div class="bg-warning-200 text-center">
            <p class="indent-8 py-8 md:mb-0 font-medium text-green text-xl">
                Nuestro enfoque personalizado y nuestra dedicación a la excelencia legal nos distinguen como líderes en la profesión.
            </p>
        </div>
    </main>
</Layout>