---
const {title, img, description} = Astro.props;
interface Props{
    title:string;
    img:string;
    description: string;
}
---
<div>
    <img  src={img} alt={description}/>
    <span>{title}</span>
</div>