---
import Imag from "./imag.astro";
---
<figure class="relative transition-all duration-300 cursor-pointer">
    <Imag url="/src/images/1.jpg" description="Pallares Abogados" width="1300" height="300"/>
    <figcaption class="absolute px-4 text-xl top-60 w-2/5 leading-10 line-clamp-3 font-bold tracking-wider text-center">
        <h1>Somos sus abogados de confianza </h1>
    </figcaption>
    <figcaption class="absolute px-4 text-xl top-96 w-2/5 leading-10 line-clamp-3 font-bold tracking-wider text-center">
        <h2>¡Contáctenos!</h2>
    </figcaption>
</figure>
<style>
    h1, h2 {
        font-size: 3.25rem;
        word-break: break-word;
        -webkit-text-stroke-color: #ECE0D1;
        -webkit-text-stroke-width: medium;
        color: #00181B;
        font-family: "PT Serif", serif;
    }
    h2 {
        font-size: 2.5rem;
    }
</style>
