---
---
<footer class="footer">
    <div class="container">
        <ul>
            <li><a>Aviso Legal</a></li>
            <li><a>Política de Privacidad</a></li>
            <li><a>Política de Cookies</a></li>
        </ul>
    </div>
</footer>