---
const {post:{title, description}} = Astro.props;
---

<div class="w-full">
    <h1 class="text-golden font-medium text-6xl">{title}</h1>
    <p class="text-green text-2xl">{description}</p>
</div>