---
const {title,text} = Astro.props;
interface Props{
    title: string;
    text: string;
}
---
<section>
    <h3 class="container mx-auto p-4">{title}</h3>
    <p class="flex justify-around">
        {text}
    </p>
</section>
