---

import Navbar from "../components/navbar.astro";
import Footer from "../components/footer.astro";

---

<html lang="es">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Pallares Abogados</title>
</head>
<body>
<Navbar />
<main>
    <slot />
</main>
<Footer />
</body>
</html>
<style is:global>
    body{
        background-color:#F9F5F0;
        min-height: 500px;
    }
    footer{
        background-color: #003940;
    }
    span,a {
        color:#C29A6B;
    }
    img {
        max-height: 350px;
    }

</style>